html {  margin-left: 0;}
html {    margin: 0;    padding: 0;    height: 100%;}
body {	font-family: 'Arimo', sans-serif;	background-color: #fff;  font-size: 14px  color: #210e0c;  height: 100%;  margin: 0;  padding: 0; overflow-x: hidden !important; 
color: #262626;line-height: 21px;
}


.navbar {
  position: relative;
  border-width: 0 0 0 !important;
  background: #fff;
  margin-bottom: 0;
  z-index: 9999;
}
.navbar-toggle .icon-bar {
    background: #000;
    width: 28px;
    height: 3px;
}
.navbar-toggle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-sh-hid {
  text-align: center;
}
.navbar-brand {
  padding: 0;
  padding-left: 10px;
  line-height: 74px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.nav-sh-hid {
  margin-left: 30px;
}
.nav-sh-hid > li > a {
    font-size: 16px;
    color: #696969;
    padding: 0;
    margin: 0 22px;
    padding: 30px 0 25px 0; 
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
}
header .nav-sh-hid > li > a.active {
    background: transparent;
    border-bottom: 4px solid transparent;
    color: #696969;
}
.hidden-nav .nav-sh-hid > li > a.active {
    background: transparent;
    border-bottom: 4px solid #000;
    color: #696969;
}
.nav-sh-hid > li > a:hover {
    background: transparent;
    border-bottom: 4px solid #696969;
    color: #696969;
}
.nav-sh-hid > li > a:focus {
    background: transparent;
    color: #696969;
}
.nav-buttons > li > a {
  min-width:180px;
  padding: 30px 10px 12px 10px;
  background-color: #ff8835;
  background-repeat:no-repeat;
  background-image:url('/img/p.png');
  background-position:center 30px;
  font-size: 20px;
  color: #210e0c;
}
.nav-buttons > li > div {
  text-align:center;
  background: #ff8835;
  color:#333;
  font-size: 12px;
  text-transform:uppercase;
}
.nav-buttons > li > a span {
  font-weight: 700;
}
.nav-buttons > li > a:active, .nav-buttons > li > a:hover, .nav-buttons > li > a:focus {
    background-color: #ff8835;
    color: #210e0c;
    cursor: default;
}
.navbar-brand img{margin-top:5px; }
/*s-1*/
.s-1{background: url(../img/s-1-bg.jpg) no-repeat;}
.s-1-logo-bl {    margin-top: 205px;}


div.s-1 {
    margin: 0 auto;
    width: 100%;
    position: relative;
    min-height: 1000px;
    background: #f3f3f3;
    background: url(../img/sec-1-bg.jpg) no-repeat;
    background-position:center bottom;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
    overflow: hidden;
    z-index: 10;
}
.sec-1-logo-bl {
  margin-top: 205px;
}
.sec-1-logo {
  height: 180px;
  background: url(../img/sec-1-logo.png) no-repeat;
  background-position: center bottom;
}
.sec-1-logo-bl h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: right;
  padding-right: 38px;
}
.sec-1-logo-bl h1 {
  font-size: 125px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 110px;
  margin: 0;
}
.sec-1-logo-bl h2 {
  float: left;
  width: 47%;
  font-size: 45px;
  color: #ff8835;
  text-transform: uppercase;
  border-right: 1px solid #fff;
  line-height: 40px;
  margin: 0;
  margin-top: 12px;
  text-shadow:#000 0px 0px 5px;
}
.sec-1-logo-bl h4 {
  float: left;
  width: 53%;
  font-size: 15px;
  color: #fff;
  line-height: 18px;
  margin: 0;
  margin-top: 10px;
  padding-left: 15px;
}
.sec-1-icon-bl {
  margin-top: 90px;
}
.sec-1-icon-1 {
  width: 100%;
  height: 80px;
  background: url(../img/sec-1-icon-1.png) no-repeat;
  background-position: center;
}
.sec-1-icon-2 {
  width: 100%;
  height: 80px;
  background: url(../img/sec-1-icon-2.png) no-repeat;
  background-position: center;
}
.sec-1-icon-3 {
  width: 100%;
  height: 80px;
  background: url(../img/sec-1-icon-3.png) no-repeat;
  background-position: center;
}
.sec-1-icon-4 {
  width: 100%;
  height: 80px;
  background: url(../img/sec-1-icon-4.png) no-repeat;
  background-position: center;
}
.sec-1-icon-bl p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.sec-1-dark-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(40, 17, 15, 0.9);
}
.sec-1-form {
  min-height: 250px;
  padding-bottom: 30px;
}
.sec-1-form h2 {
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

#zvonok-1{}
#zvonok-1 input{background-color: #ff8835; border: none;    width: 100%;    margin: 0 0 20px 0;    padding: 9px 14px;}
#zvonok-1 button{}
#zvonok-1 input::-webkit-input-placeholder {color:#262626;}
#zvonok-1 input::-moz-placeholder          {color:#262626;}
#zvonok-1 input:-moz-placeholder           {color:#262626;}
#zvonok-1 input:-ms-input-placeholder      {color:#262626;}

input[type=submit]:hover,button:hover {    background: #F53D19;}
input[type=submit],button {
    width: 92%;
    height: 40px;
    margin: 20px 4%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;    
    font-size: 24px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: rgb(242, 49, 11);
}
/*s-1*/

/*section-2*/
.os-animation{  opacity: 0;}

.os-animation.animated{    opacity: 1;}

.s-2-header{text-align: center;margin-bottom: 10px;}
.s-2-header h2{    font-size: 45px;    color: #210e0c;font-weight:bold;     margin-top: 60px;}
.s-2-header span{    font-size: 18px;    color: #210e0c;    text-align: center;    font-weight: 700;margin-bottom: 20px;}

.if_list {    margin: 20px 100px 0 100px;    display: inline-block;}
.if_list li{list-style-type: none;}
.if_list li{margin-bottom: 40px;font-size: 16px;}

.if_list li:before{background-color: #f2310b;content: '';width: 9px;height: 9px;border-radius: 50%;display: inline-block;margin-right: 5px;float: left;    margin-top: 6px;}
.if_list li span{display: block;    padding-left: 24px;}
.if_list-left,.if_list-right{
	margin:0 20px;
}

.s-2-items-2 h6{    font-family: 'Open Sans', sans-serif;    font-size: 14px;    line-height: 24px;    border-bottom: 1px solid #210e0c;}
.s-2-items-2 h2{font-size: 20px;    text-align: center;    text-transform: uppercase;    line-height: 30px;}
.s-2-items-3{position: relative;}
.s-2-line {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -99px;
    width: 204px;
    height: 198px;
    background: url(../img/s-2-line.png) no-repeat;
    background-position: center;
}

.s2-ico {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.s2-ico-s-2-icon-1 {
    width: 74px;
    height: 76px;
    background-position: -5px -5px;
}

.s2-ico-s-2-icon-2 {
    width: 74px;
    height: 76px;
    background-position: -89px -5px;
}

.s2-ico-s-2-icon-3 {
    width: 74px;
    height: 76px;
    background-position: -5px -91px;
}

.s2-ico-s-2-icon-4 {
    width: 74px;
    height: 76px;
    background-position: -89px -91px;
}

.s2-ico-s-2-icon-5 {
    width: 74px;
    height: 76px;
    background-position: -173px -5px;
}

.s2-ico-s-2-icon-6 {
    width: 74px;
    height: 76px;
    background-position: -173px -91px;
}

.s-2-step-num{    font-size: 35px;    font-weight: bold;}
.s-2-steps-left i{float: right;}
.step_txt{ margin-top: 24px;}
.s-2-steps-left .step_txt{text-align: right;}
.s-2-steps-right .step_txt{text-align: left;}

.s-2-step{min-height: 97px;    margin-bottom: -5px;}

.if_list .start__anim,
.s-2-step .start__anim{opacity: 0;}
.s-2 .btn_wr{padding:20px 0 50px 0;}
.longbtn {   background-color: rgb(242, 49, 11) !important;    display: inline-block;}
.longbtn span
{	display: block;    position: relative;    margin-top: 20px;    font-size: 18px;    color: #210e0c;    text-align: center;    font-weight: 700;    z-index: 200;}

/*section-2*/

/*sec-3*/
.s-3{padding-bottom: 200px;}
.s-3-bg{    width: 100%;    position: relative;    min-height: 370px;    z-index: 25;}
.s-3 h3{    margin-top: 110px;    font-size: 45px;    font-weight: 700;    color: #fff;    text-align: center;}
.s-3 h3 span{    color: #ff8835;}
.centr_cont{text-align: center;}
.left_cont{text-align: left;}


.s-3-left-bl{margin-top:50px; }
 .s-3 .snos{    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #210e0c;width: 180px;}

.s3-numb{position: relative;    display: inline-block;}
.s3-numb h2{font-size: 80px;font-weight: bold;display: inline-block;}
.s3-numb span{
	font-size: 16px;
    font-weight: 700;
    background: #ff8835;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    position: relative;
    top: -36px;
}
.s-3-right-bl{margin-top: 70px;}

.s-3-right{border-left: 1px solid #210e0c; margin-left: 20px;}
.s-3-right ul{padding-left: 0;}
.s-3-right li{list-style-type: none;position: relative;padding-left: 30px;padding-top: 28px;}
.s-3-right li span{display: block;}
.s-3-right li:before{background-color: #f2310b;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    position: absolute;
    left: -5px;    top: 32px;
}
.s-3-right-tit{margin-left: -10px;    margin-bottom: 39px;}
.s-3-bottom{   margin-top: 40px;
    width: 100%;
    position: relative;
    min-height: 617px;
    background: #f3f3f3;
    background: url(../img/s-3-bot.png) no-repeat;
    background-position:center bottom;
    -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;}
.s-3-bo-bl{margin: 80px 0 0 0;}

.s-3-reason{}
.s-3-reason h3{color: #210e0c;text-align: left;}
.s-3-reason ul{}
.s-3-reason ul li{list-style-type: none;}
.s-3-reason ul li:before{
	background-color: #f2310b;    content: '';
    width: 9px;    height: 9px;    border-radius: 50%;
    display: inline-block;    margin-right: 5px;
}
.s-3-form{min-height: 460px;text-align: center;
    background: rgba(45, 30, 33, 0.9);}